.bg-silver p,
.bg-bronze p,
.bg-gold p {
  background-color: white;
  border-radius: 0.25rem;
  font-weight: bold;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-gray-150 p {
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  height: 28px;
  font-weight: bold;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  left: 100%;
  transform: translateX(10px);
  color: white;
  display: none;
}

.tooltip-wrapper:hover .tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  line-height: 3;
  padding: 3px;
}
