.bg-silver p,
.bg-bronze p,
.bg-gold p,
.bg-gray-150 p {
  border-radius: 0.25rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
}

.tooltip-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  left: 100%;
  transform: translateX(10px);
  color: white;
}

.tooltip-wrapper .tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  width: 30vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 3px;
  position: absolute;
  left: 100%;
  transform: translateX(10px);
  color: white;
}
